@using System.Security.Cryptography
@model SocialNetwork.ViewModels.UserViewModel

@if (Model != null)
{
    <h2>@Model.User.Name Profile</h2>
    <h3>Followers</h3>
    if (Model.Followers.Count != 0)
    {
        <ul class="list-group">
            @foreach (var follower in Model.Followers)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@follower.Id">@follower.Name</a>
                    bool exist = false;
                    @foreach (var blacklist in Model.Blacklisted)
                    {
                    if (blacklist.Id == follower.Id)
                    {
                    exist = true;
                    }
                    }
                    if (!exist)
                    {
                    <a class="btn-dark btn ml-3 pt-1 pb-1" asp-action="BlackList" asp-route-idToBlacklist="@follower.Id">Blacklist</a>
                    }

                </li>
            }
        </ul>
    }
    else
    {
        <p>No Followers</p>
    }
    <h3>Following</h3>
    if (Model.Following.Count != 0)
    {
        <ul class="list-group w-25">
            @foreach (var following in Model.Following)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@following.Id">@following.Name</a>
                    <a class="float-right" asp-action="GetWall" asp-controller="Wall" asp-route-id="@following.Id" asp-route-type="User">Wall</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Following none</p>
    }
    <h3>Blacklisted</h3>
    if (Model.Blacklisted.Count != 0)
    {
        foreach (var blackList in Model.Blacklisted)
        {
            <p>Blacklisted user: @blackList.Name</p>
        }
    }
    else
    {
        <p>None blacklisted</p>
    }
    <h3>Circles</h3>
    if (Model.Circles != null)
    {
        foreach (var circle in Model.Circles)
        {
            <a asp-action="GetWall" asp-controller="Wall" asp-route-type="Circle" asp-route-id="@circle.Id"> @circle.Name </a>
        }
    }
    else
    {
        <p>Not following any circles</p>
    }

}
else
{
    <h2>Model not found</h2>
}

