@model SocialNetwork.ViewModels.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@if (Model != null)
{
    if (Model.FeedPosts != null && Model.FeedPosts.Count() != 0)
    {
        <h3>@Model.User.Name feed</h3>

        foreach (var post in Model.FeedPosts)
        {
            <h4> <b>@post.OwnerName Posted:</b> @post.Text </h4>
            foreach (var comment in post.Comments)
            {
                <li><b>@comment.OwnerName : </b> @comment.Text </li>
            }
        }
    }
    else
    {
        <h3>No posts in feed</h3>
    }

}
else
{
    <h2>Model not found</h2>
}

<p>
    <a asp-action="Create" asp-controller="Post">Post Public</a>
</p>
<p>
    <a asp-action="Create" asp-controller="Post">Post To Circle</a>
</p>
