@model SocialNetwork.ViewModels.UserViewModel

<h1>Users to follow</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Feed
        </th>
        <th>
            Profile
        </th>
    </tr>
    </thead>
    <tbody>
        @if (Model.Users != null && Model.Users.Count != 0)
        {
            foreach (var user in Model.Followable)
            {
                <tr>
                    <td>
                        @user.Name
                    </td>
                    <td>
                        <a asp-action="Feed" asp-route-id="@user.Id">Feed</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@user.Id">Details</a>
                    </td>
                    <td>
                        <a class="btn-dark btn " asp-action="FollowPost" asp-route-idToFollow="@user.Id" asp-route-id="@Model.User.Id">Follow</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td><p>No walls</p></td>
            </tr>
        }
    </tbody>
</table>
