@model IEnumerable<SocialNetwork.Models.Wall>

@{
    ViewData["Title"] = "Wall";
}

<h1>Wall</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Followers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0) {
foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ownerID)
            </td>
            <td>
                <a href="/Wall/Followers/@item.ID"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                <a href="/Wall/BlackList/@item.ID"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ownerID">Edit</a> |
                <a asp-action="GetWall" asp-route-id="@item.ownerID" asp-route-type="@item.type"  >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
        }
        else
        {
            <tr>
                <td><p>No walls</p></td>
            </tr>
        }
    </tbody>
</table>
