@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<SocialNetwork.Models.Circle>

@{
    ViewData["Title"] = "Index";
    var LoggedInAsId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}

<h1>Circles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WallId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @Html.HiddenFor(modelItem => item.Id)


                @Html.HiddenFor(modelItem => item.WallId)

                <td>
                    @*@Html.ActionLink(item.Name, "ShowCircle", "Circle",item.Id)*@
                    <a asp-action="ShowCircle" asp-route-circleId="@item.Id">@item.Name</a>
                </td>

                @Html.HiddenFor(modelItem => item.OwnerId)



                @**@
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                *@
            <td>
                @if (LoggedInAsId == item.OwnerId)
                {
                        
                }
                
            </td> @**@
            <td>
                <a class="btn-dark btn pt-1 pb-1" asp-action="FollowCircle" asp-route-idToFollow="@item.Id">Follow</a>
            </td>@**@
            <td>
                <a class="btn-dark btn pt-1 pb-1"  asp-action="UnFollowCircle" asp-route-idToUnFollow="@item.Id">Unfollow</a>
            </td>@**@
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            *@

            </tr>
        }
    </tbody>
</table>
