@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<SocialNetwork.Models.Circle>

@{
    ViewData["Title"] = "Create";
    var LoggedInAsId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}

<h1>My Circles</h1>

<div>
    <a asp-action="Create">Create Circle</a>
</div>
<span style="display: table; padding-top: 20px; padding-bottom: 20px; margin: 0 auto;">
    Look for circles to join in the Circles page
</span>

@if (Model == null)
{
    <div>
        Model is null
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WallId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>*@
            @*<th></th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @Html.HiddenFor(modelItem => item.Id)


                @Html.HiddenFor(modelItem => item.WallId)

                <td>
                    @*@Html.ActionLink(item.Name, "ShowCircle", "Circle",item.Id)*@
                    <a asp-action="ShowCircle" asp-route-id="@item.Id" asp-route-circleId="@item.Id">@item.Name</a>
                </td>

                @Html.HiddenFor(modelItem => item.OwnerId)

                <td>
                    @if (LoggedInAsId == item.OwnerId)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }

                </td>


                @**@
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                *@

            </tr>
        }
        </tbody>
    </table>
}